* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: #000000 0px 0px 10px;
  width: 400px;
  height: 500px;
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-header .left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.post-header .left > img {
  border-radius: 50%;
}

.post-header .right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-header .right .follow-btn {
  border: solid 2px #a5d2e2;
  color: #a5d2e2;
  padding: 1px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.post-header .right .more-options {
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.post-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 350px;
}

.post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-icons {
  display: flex;
  justify-content: space-between;
}

.post-icons > div {
  display: flex;
  gap: 10px;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.liked {
  color: #ff0000;
}

.post-likes {
  display: flex;
  align-items: center;
  gap: 10px;
}
